<div class="container">
  <div class="article_container__title">
    <h1> <%= @article.title %> </h1>
    <div>
      <%= link_to edit_article_path(@article) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to article_path(@article), method: 'delete', data: { confirm: 'You sure?'} do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </div>
  <div class="article_container__content">
    <p><%= @article.content %></p>
  </div>
</div>
